docker.enabled = true
process.container = '434616802091.dkr.ecr.eu-west-1.amazonaws.com/nflow:latest'

profiles {
    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'TEST-nextflow-batch-queue-ec2'
        aws.region = 'eu-west-1'
    }
    local {
        process.executor = 'local'
    }
}
